<body>
<form>
<br>
<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <p>id: {{ currentColony.id }}</p>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-light btn-outline-secondary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Trash_font_awesome.svg/2000px-Trash_font_awesome.svg.png"></button>
    </div>
  </div>
</div>
<br>
<br>
<label>
  koloonia nimi
</label>
<input
  type="text"
  [value]="currentColony.name">
<br>
<br>
<br>
<div class="container-fluid">
  <div class="col-sm-4">
    <button type="button" class="btn btn-light btn-outline-secondary">❌</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-light btn-outline-secondary">✔</button>
  </div>
</div>
<br>
<br>
</form>
</body>
