<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card bg-light mb-3" style="max-width: 40rem; height: 32rem">
      <div class="card-header">
        <h5>Ema hetkeolukord</h5>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-light btn-outline-danger" style="width: 150px"><img
          src="assets/img/kadunudKitsam.jpg" alt="ii"></button>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 150px"><img
          src="assets/img/puuriga_tarru.png" alt="ii"></button>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 150px"><img
          src="assets/img/kadunudKitsam.jpg" alt="ii"></button>
        <br>
        <button type="button" class="btn btn-light btn-outline-danger" style="width: 200px"><img
          src="assets/img/teadmata.jpg" alt="ii"></button>
        <img src="https://banner2.kisspng.com/20180425/ohw/kisspng-computer-icons-arrow-symbol-direction-orientation-5ae0ae32084715.6808464915246740980339.jpg" alt="ii">
        <button type="button" class="btn btn-light btn-outline-success" style="width: 200px"><img
          src="assets/img/emaOkRohe.png" alt="ii"></button>
        <div class="card-footer">
          <button type="button" class="btn btn-light btn-outline-danger" style="margin: 20px">
            <img
              src="assets/img/v22rema.png" alt="ii">
          </button>
          <button type="button" class="btn btn-light btn-outline-success" style="margin: 20px">
            <img
              src="assets/img/puurist_v2lja.png" alt="ii">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">

  </div>
</div>


