<div class="row">
  <div class="col-8"></div>
  <div class="col-2.5">
    <div class="card bg-light mb-3" style="max-width: 16rem; height: 42.5rem; margin-left:auto;margin-right:auto;text-align:center">
      <div class="card-header">
        <button type="button" class="btn btn-light btn-outline-primary" style="width: 200px; height: 85px"><img
          src="assets/img/muuda.png" alt="ii" style="height: 65px"></button>
      </div>

      <div class="card-body">
        <img
          src="assets/img/emaOkRohe.png" alt="ii">
        <p class="card-text">täna</p>
        <img
          src="assets/img/munebOK.png" alt="ii">
        <p class="card-text">täna</p>
        <img
          src="assets/img/m2rgistatudYes.png" alt="ii">
        <p class="card-text">mai 2018</p>
        <img src="assets/img/synnip2evOk.png" alt="ii"><p>mai 2018</p>
      </div>
    </div>
  </div>
  <div class="col-1.5">
    <button type="button" class="btn btn-light btn-outline-danger" style="height: 115px;width: 80px; margin-left: 20px" ><img
      src="assets/img/teadmataVertical.jpg" alt="ii" style="height: 100px"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-success" style="width: 100px; height: 100px; margin: 20px"><img
      src="assets/img/muudaNupp.png" alt="ii" class="pencil"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-danger" style="width: 100px; height: 100px; margin: 20px"><img
      src="assets/img/muudaNupp.png" alt="ii" class="pencil"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-danger" style="width: 100px; height: 100px; margin: 20px"><img
      src="assets/img/muudaNupp.png" alt="ii" class="pencil"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-primary" style="width: 100px; height: 100px; margin: 20px"><img
      src="assets/img/muudaNupp.png" alt="ii" class="pencil"></button>
  </div>
</div>


