<div class="container">
  <div class="row">
    <div class="col-7.5">
      <div
        class="card bg-light mb-3"
        style="max-width: 16rem; height: 42.5rem; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">
          <img
            src="assets/img/koorunudEma.jpg" alt="ii">
          <p class="card-text">täna</p>
          <img
            src="assets/img/munebOK.png" alt="ii">
          <p class="card-text">täna</p>
          <img
            src="assets/img/m2rgistatudYes.png" alt="ii">
          <p class="card-text">mai 2018</p>
          <img src="assets/img/synnip2evOk.png" alt="ii"><p>mai 2018</p>
        </div>
      </div>
    </div>
    <div class="col-4.5">
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        style="height: 115px;width: 80px; margin: 0px; margin-left: 20px"
        (click)="onChangeMotherStatusButtonClick(motherStatusEnum.SEEN)">
        <img
          src="assets/img/n2htudVertical.png"
          alt="ii"
          style="height: 100px">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-success"
        (click)="onOpenWhenMotherHatchedEditButton()">
        <img src="assets/img/muudaNupp.png"
             alt="ii"
             class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenWhenSeenMotherLayingEggsEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii" class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenWhenMotherMarkedEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-primary"
        (click)="onOpenWhenMotherBirthdayEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-hatched-edit"  style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal ema koorus?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-hatched-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/koorunudEma.jpg" alt="" style="width: 160px">
        <br>
        <div class="radio">
          <label><input type="radio" name="seen"><h5> Täna</h5></label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="seen"><input type="number"><h5> päeva tagasi</h5>
          </label>
        </div>
        <div class="radio">
          <label><input type="radio" name="seen"> <img src="assets/img/tagasi.png" alt="" style="width: 22px; height: 22px"><h5> (7 päeva tagasi)</h5></label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h5>Ema staatus ei ole "koorunud"?</h5>
        </div>
        <div class="row">
          <h5>Vali teine ema staatus: </h5>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-light btn-outline-danger" style="color: red; height: 70px; width: 200px; margin-left: 500px"><h2>Loobun</h2></button>
      <button class="btn btn-light btn-outline-success" style="color: green; height: 70px; width: 200px; margin-left: 200px"><h2>Salvestan</h2></button>
    </div>


  </div>

</jw-modal>


<jw-modal id="mother-laying-eggs-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal nägid viimati, et see ema munes?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-laying-eggs-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <strong>Muneb</strong>
    <div class="radio">
      <label><input type="radio" name="seen">Täna</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="seen"><input type="number">päeva tagasi
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="seen">(7 päeva tagasi)</label>
    </div>
    <strong>Muneb</strong>
    <div class="radio">
      <label><input type="radio" name="seen">Ei ole näinud, et muneks</label>
    </div>
    <button class="btn btn-warning">Loobun</button>
    <button class="btn btn-success">Salvestan</button>
  </div>
</jw-modal>


<jw-modal id="mother-marked-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Kui korralikult on ema märgistatud ja millal?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-marked-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <strong>Märgistuse kvaliteet</strong>
    <div class="radio">
      <label><input type="radio" name="quality">Korralik märgistus</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="quality">
        Märgistusega on probleeme
        Märksõna:
        <input type="number">
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="quality">Ei ole märgistatud</label>
    </div>
    <strong>Millal märgistatud?</strong>
    <div class="radio">
      <label><input type="radio" name="when_marked">Täna</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="when_marked">
        <select
          name="month_marked"
          class="custom-select"
          size="1">
          <option value="">Jaanuar</option>
          <option value="">Veebruar</option>
          <option value="">Märts</option>
        </select>
        <select
          name="year_marked"
          class="custom-select"
          size="1">
          <option value="">2017</option>
          <option value="">2018</option>
        </select>
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="when_marked">(märts 2017)</label>
    </div>
    <button class="btn btn-light">Loobun</button>
    <button class="btn btn-light">Salvestan</button>
  </div>
</jw-modal>


<jw-modal id="mother-birthday-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal on see ema koorunud?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-birthday-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <div class="radio">
      <label><input type="radio" name="seen">Täna</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="when_marked">
        <select
          name="month_marked"
          class="custom-select"
          size="1">
          <option value="">Jaanuar</option>
          <option value="">Veebruar</option>
          <option value="">Märts</option>
        </select>
        <select
          name="year_marked"
          class="custom-select"
          size="1">
          <option value="">2017</option>
          <option value="">2018</option>
        </select>
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="seen">Märts 2017</label>
    </div>
    <button class="btn btn-light">Loobun</button>
    <button class="btn btn-light">Salvestan</button>
    <button
      type="button"
      class="btn btn-light btn-outline-primary"
      style="width: 200px; height: 80px; margin: 0px">
      <img
        src="assets/img/muuda.png"
        alt="ii"
        style="height: 65px"
        (click)="onChangeMotherStatusButtonClick()">
    </button>
  </div>
</jw-modal>
