<div class="container">
  <div class="row">
    <div class="col-7.5">
      <div
        class="card bg-light mb-3"
        style="max-width: 16rem; height: 42.5rem; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">


          <img
            src="assets/img/puuristV2lja.png" alt="ii">
          <h3 class="word">{{ momStatusSectionTimeText }}</h3>


          <div *ngIf="!currentlyChosenHive.momAttributes.isLayingEggs">
            <img
              src="assets/img/munebNot.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="word">{{ layingEggsSectionTimeText }}</h3>
          </div>
          <div *ngIf="currentlyChosenHive.momAttributes.isLayingEggs">
            <img
              src="assets/img/munebOK.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="word">{{ layingEggsSectionTimeText }}</h3>
          </div>


          <div *ngIf="currentlyChosenHive.momAttributes.markedStatus === markedStatusEnum.UNMARKED">
            <img
              src="assets/img/unmarked.png" alt="ii"
              style="margin-top: 7px">
          </div>
          <div *ngIf="currentlyChosenHive.momAttributes.markedStatus === markedStatusEnum.ATTENTION">
            <img
              src="assets/img/attention.png" alt="ii"
              style="margin-top: 7px">
            <h3
              *ngIf="currentlyChosenHive.momAttributes.isMarkedDateMonthSet"
              class="word">{{ currentlyChosenHive.momAttributes.markedDate | date:'MMMM yyyy'}}
            </h3>
            <h3
              *ngIf="!currentlyChosenHive.momAttributes.isMarkedDateMonthSet"
              class="word">{{ currentlyChosenHive.momAttributes.markedDate | date:'yyyy'}}
            </h3>
            <p style="margin-top: -23px;font-size: 31px">
              {{ currentlyChosenHive.momAttributes.markedDescription }}
            </p>
          </div>
          <div *ngIf="currentlyChosenHive.momAttributes.markedStatus === markedStatusEnum.MARKED">
            <img
              src="assets/img/marked.png" alt="ii"
              style="margin-top: 7px">
            <h3
              *ngIf="currentlyChosenHive.momAttributes.isMarkedDateMonthSet"
              class="word">{{ currentlyChosenHive.momAttributes.markedDate | date:'MMMM yyyy'}}
            </h3>
            <h3
              *ngIf="!currentlyChosenHive.momAttributes.isMarkedDateMonthSet"
              class="word">{{ currentlyChosenHive.momAttributes.markedDate | date:'yyyy'}}
            </h3>
          </div>


          <img src="assets/img/synnip2evOk.png" alt="ii">
          <h3
            *ngIf="currentlyChosenHive.momAttributes.isBirthDayDateMonthSet"
            class="word" style="margin-bottom: -15px !important;">
            {{ currentlyChosenHive.momAttributes.birthday | date:'MMMM yyyy'}}
          </h3>
          <h3
            *ngIf="!currentlyChosenHive.momAttributes.isBirthDayDateMonthSet"
            class="word" style="margin-bottom: -15px !important;">
            {{ currentlyChosenHive.momAttributes.birthday | date:'yyyy'}}
          </h3>


        </div>
      </div>
    </div>
    <div class="col-4.5">
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        style="height: 115px;width: 80px; margin: 0px; margin-left: 20px"
        (click)="onChangeMotherStatusButtonClick(momStatusEnum.SEEN)">
        <img
          src="assets/img/n2htudVertical.png"
          alt="ii"
          style="height: 100px">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onOpenMomStatusSectionEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        *ngIf="layingEggsSectionTimeText != 'täna'"
        type="button"
        class="btn btn-light btn-outline-success"
        (click)="saveLayingEggsSectionValues(true)">
        <img
          src="assets/img/check.png"
          alt="ii"
          class="pencil">
      </button>
      <button
        *ngIf="layingEggsSectionTimeText === 'täna'"
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onOpenWhenSeenMotherLayingEggsEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onOpenWhenMotherMarkedEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onOpenWhenMotherBirthdayEditButton()"
        style="margin-bottom: 0 !important;">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-un-caged-edit" style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal see ema sai puurist tarru lastud?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseMomStatusSectionEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/puuristV2lja.png" alt="">
        <br>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="un-caged"
                class="bigRadio"
                [checked]="radioBtnMomStatusSelection === actionTimeEnum.TODAY"
                (change)="radioBtnMomStatusSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="un-caged"
                     class="bigRadio"
                     [checked]="radioBtnMomStatusSelection === actionTimeEnum.PAST_DATE"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnStatusPastDateInputValue"> päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="momStatusInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input type="radio" name="un-caged"
                     class="bigRadio"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ momStatusInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h2>Ema staatus ei ole "puurist vabastatud"?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger"
                  style="color: red; height: 70px; width: 200px; margin-left: 100px"
                  (click)="onCloseMomStatusSectionEditButton()"><h2>Loobun</h2></button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveMotherStatusSectionValues()"><h2>Salvestan</h2></button>
        </div>
      </div>
    </div>
  </div>

</jw-modal>


<jw-modal id="mother-laying-eggs-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal nägid viimati, et see ema munes?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenSeenMotherLayingEggsEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <img src="assets/img/munebOK.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="laying_eggs"
                class="bigRadio"
                [checked]="radioBtnLayingEggsSelection === actionTimeEnum.TODAY"
                (change)="radioBtnLayingEggsSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="laying_eggs"
                     class="bigRadio"
                     [checked]="radioBtnLayingEggsSelection === actionTimeEnum.PAST_DATE"
                     (change)="radioBtnLayingEggsSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnLayingEggsPastDateInputValue">
              päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="layingEggsInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="laying_eggs"
                class="bigRadio"
                (change)="radioBtnLayingEggsSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ layingEggsInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-6">
        <img src="assets/img/munebNot.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="laying_eggs"
                class="bigRadio"
                [checked]="radioBtnLayingEggsSelection === actionTimeEnum.NO_ACTION"
                (change)="radioBtnLayingEggsSelected(actionTimeEnum.NO_ACTION)">
              Ei ole näinud, et muneks
            </h2>
          </label>
        </div>
        <div class="row twoButtons">
          <button
            class="btn btn-light btn-outline-danger"
            style="color: red; height: 70px; width: 200px;"
            (click)="onCloseWhenSeenMotherLayingEggsEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveLayingEggsSectionValues()">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="mother-marked-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Kui korralikult on ema märgistatud ja millal?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenMotherMarkedEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="row">
        <div class="col-4">
          <img src="assets/img/marked.png" alt="">
          <div class="radio option2">
            <label>
              <h2>
                <input
                  type="radio"
                  name="marked_quality"
                  class="bigRadio"
                  [checked]="radioBtnMarkedStatusSelection === markedStatusEnum.MARKED"
                  (change)="radioBtnMarkedStatusSelected(markedStatusEnum.MARKED)">
                Korralik märgistus
              </h2>
            </label>
          </div>
        </div>
        <div class="col-4">
          <img src="assets/img/attention.png" alt="">
          <div class="radio option2" style="font-size: 33px">
            <label>
              <h2>
                <input
                  type="radio"
                  name="marked_quality"
                  class="bigRadio"
                  [checked]="radioBtnMarkedStatusSelection === markedStatusEnum.ATTENTION"
                  (change)="radioBtnMarkedStatusSelected(markedStatusEnum.ATTENTION)">
                Märgistusega on probleeme. <br>

              </h2>
            </label>
            Märksõna:
            <input
              type="text"
              size="10"
              class="description"
              style="margin-left: 5px"
              [disabled]="radioBtnMarkedStatusSelection != markedStatusEnum.ATTENTION"
              [(ngModel)]="markedSectionAdditionlInfoText">
          </div>
        </div>
        <div class="col-4">
          <img src="assets/img/unmarked.png" alt="">
          <div class="radio option2">
            <label>
              <h2>
                <input
                  type="radio"
                  name="marked_quality"
                  class="bigRadio"
                  [checked]="radioBtnMarkedStatusSelection === markedStatusEnum.UNMARKED"
                  (change)="radioBtnMarkedStatusSelected(markedStatusEnum.UNMARKED)">
                Ei ole märgistatud
              </h2>
            </label>
          </div>
        </div>
      </div>
      <hr style="margin-top: 10px; margin-bottom: 0">
      <div class="row">
        <div class="col-6">
          <div class="radio option" style="margin-top: 25px">
            <label>
              <h2>
                <input type="radio" name="when_marked"
                       class="bigRadio"
                       [disabled]="radioBtnMarkedStatusSelection === markedStatusEnum.UNMARKED"
                       (change)="radioBtnMarkedTimeSelected(actionTimeEnum.UNKNOWN)"
                       [checked]="radioBtnMarkedTimeSelection === actionTimeEnum.UNKNOWN">
                &nbsp;Teadmata millal märgistatud
              </h2>
            </label>
          </div>
          <div style="margin-top: 37px">
            <div>
              <label class="option-row">
                <input type="radio"
                       name="when_marked"
                       class="bigRadio"
                       [disabled]="radioBtnMarkedStatusSelection === markedStatusEnum.UNMARKED"
                       (change)="radioBtnMarkedTimeSelected(actionTimeEnum.PAST_DATE)"
                       [checked]="radioBtnMarkedTimeSelection === actionTimeEnum.PAST_DATE">
                <h2>&nbsp;Märgistatud:</h2>
                <select
                  name="month_marked"
                  class="custom-select"
                  size="1"
                  [disabled]="radioBtnMarkedStatusSelection === markedStatusEnum.UNMARKED"
                  [(ngModel)]="markedTimeMonthValue">
                  <option value="">Kuu</option>
                  <option value="0">Jaanuar</option>
                  <option value="1">Veebruar</option>
                  <option value="2">Märts</option>
                  <option value="3">Aprill</option>
                  <option value="4">Mai</option>
                  <option value="5">Juuni</option>
                  <option value="6">Juuli</option>
                  <option value="7">August</option>
                  <option value="8">September</option>
                  <option value="9">Oktoober</option>
                  <option value="10">November</option>
                  <option value="11">Detsember</option>
                </select>
                <select
                  name="year_marked"
                  class="custom-select"
                  size="1"
                  [disabled]="radioBtnMarkedStatusSelection === markedStatusEnum.UNMARKED"
                  [(ngModel)]="markedTimeYearValue">
                  <option value="" disabled hidden>Aasta</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row" style="margin-top: 200px">
            <button
              class="btn btn-light btn-outline-danger"
              style="color: red; height: 70px; width: 200px;"
              (click)="onCloseWhenMotherMarkedEditButton()">
              <h2>Loobun</h2></button>
            <button
              class="btn btn-light btn-outline-success"
              style="color: green; height: 70px; width: 200px; margin-left: 100px"
              (click)="saveMarkedSectionValues()"
              [disabled]="radioBtnMarkedTimeSelection === actionTimeEnum.PAST_DATE &&
                            markedTimeYearValue === ''">
              <h2>Salvestan</h2>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</jw-modal>


<jw-modal id="mother-birthday-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal on see ema koorunud?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenMotherBirthdayEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <img src="assets/img/synnip2evOk.png" alt="">
        <br>
        <br>
        <br>
        <div class="radio option" style="margin-top: 25px">
          <label>
            <h2>
              <input type="radio" name="birthday"
                     class="bigRadio"
                     (change)="radioBtnBirthdayTimeSelected(actionTimeEnum.UNKNOWN)"
                     [checked]="radioBtnBirthdayTimeSelection === actionTimeEnum.UNKNOWN">
              &nbsp;Teadmata millal koorunud
            </h2>
          </label>
        </div>
        <div>
          <label class="option-row">
            <input type="radio"
                   name="birthday"
                   class="bigRadio"
                   (change)="radioBtnBirthdayTimeSelected(actionTimeEnum.PAST_DATE)"
                   [checked]="radioBtnBirthdayTimeSelection === actionTimeEnum.PAST_DATE">
            <select
              name="month_marked"
              class="custom-select"
              size="1"
              style="width: 200px"
              [(ngModel)]="birthdayTimeMonthValue">
              <option value="">Kuu</option>
              <option value="0">Jaanuar</option>
              <option value="1">Veebruar</option>
              <option value="2">Märts</option>
              <option value="3">Aprill</option>
              <option value="4">Mai</option>
              <option value="5">Juuni</option>
              <option value="6">Juuli</option>
              <option value="7">August</option>
              <option value="8">September</option>
              <option value="9">Oktoober</option>
              <option value="10">November</option>
              <option value="11">Detsember</option>
            </select>
            <select
              name="year_marked"
              class="custom-select"
              size="1"
              [(ngModel)]="birthdayTimeYearValue">
              <option value="" disabled hidden>Aasta</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </label>
        </div>

      </div>
      <div class="col-6">
        <div class="row">
          <h2>Selles tarus ei ole veel koorunud ema?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button
            class="btn btn-light btn-outline-danger"
            style="color: red; height: 70px; width: 200px; margin-left: 20px"
            (click)="onCloseWhenMotherBirthdayEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 80px"
                  (click)="saveBirthdaySectionValues()"
                  [disabled]="radioBtnBirthdayTimeSelection === actionTimeEnum.PAST_DATE &&
                            birthdayTimeYearValue === ''">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>
