<p>
  new-hive works!
</p><div class="row">
  <div class="col-sm-7">
  </div>
  <div class="col-sm-5 myBackGround">
    <br>
    <p>number</p>
    <input>
    <br>
    <p>uue taru kirjeldus</p>
    <input>
    <br>
    <p>koloonia</p>
    <input>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-light btn-outline-secondary">✔</button>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

