<div
  *ngIf="!sizeLog"
  align="center">
  <div
    class="whiteBox"
    style="margin-bottom: 27px"
    align="center">
    <span> - </span>
  </div>
  <div
    class="whiteBox"
    align="center">
    -
    <br>
    <b>-</b>
    <br>
    -
  </div>
  <div align="center">
    <button
      type="button"
      class="btn btn-light btn-outline-secondary"
      [disabled]="true">
      <span>N/A</span>
    </button>
  </div>
  <div
    class="whiteBox"
    align="center">
    -
  </div>
</div>


<div
  *ngIf="sizeLog"
  align="center">
  <div
    class="whiteBox"
    style="margin-bottom: 27px"
    align="center">
    <span *ngIf="sizeLog.hasMagazine">{{ sizeLog.magazineSize }}%</span>
    <span *ngIf="!sizeLog.hasMagazine">-</span>
  </div>
  <div
    class="whiteBox"
    align="center">
    +{{ sizeLog.addedNumOfFrames }}
    <br>
    <b>{{ sizeLog.totalNumOfFrames }}</b>
    <br>
    -{{ sizeLog.removedNumOfFrames }}
  </div>
  <div align="center">
    <button
      type="button"
      class="btn btn-light btn-outline-secondary"
      (click)="chooseMyBlockToEdit()"
      [disabled]="disableControls">
      <span *ngIf="blockName === 'current'">täna</span>
      <span *ngIf="blockName != 'current'">{{ sizeLog.day | timeAgo }}</span>
    </button>
  </div>
  <div
    class="whiteBox"
    align="center">
    {{ sizeLog.removedCocoons }}
  </div>
</div>

