<div id="appNewColonyComponent" class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <div class="card bg-light mb-3" style="max-width: 23rem; height: 20rem">
      <div class="card-header"><strong>Koloonia loomine</strong></div>
      <div class="card-body">
        <h5 class="card-title">Uue koloonia nimi</h5>
        <br>
        <input
          type="text"
          [(ngModel)]="newColonyName">
        <br><br><br>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-light btn-outline-danger"
            (click)="cancelAddingNewColony()"
            style="margin: 20px">❌</button>

          <button
            type="button"
            class="btn btn-light btn-outline-success"
            [disabled]="newColonyName === ''"
            (click)="addNewColony()"
            style="margin: 20px">
            ✔
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


