<div [ngSwitch]="loadedMotherStatus" >
  <app-freak *ngSwitchCase="motherStatusEnum.FREAK"></app-freak>
  <app-hatched *ngSwitchCase="motherStatusEnum.HATCHED"></app-hatched>
  <app-in-cage *ngSwitchCase="motherStatusEnum.IN_CAGE"></app-in-cage>
  <app-missing *ngSwitchCase="motherStatusEnum.MISSING"></app-missing>
  <app-seen
    *ngSwitchCase="motherStatusEnum.SEEN"
    (onChangeMotherStatus)="openMotherStatusChangePanel()"
  ></app-seen>
  <app-un-caged *ngSwitchCase="motherStatusEnum.UN_CAGED"></app-un-caged>
  <app-unknown *ngSwitchCase="motherStatusEnum.UNKNOWN"></app-unknown>
</div>

<jw-modal id="mother-status">
  <h4>Ema hetkeolukord</h4>
  <button class="btn btn-secondary">Puurist lahti</button>
  <button class="btn btn-secondary">Puuris</button>
  <button class="btn btn-secondary">Nähtud</button>
</jw-modal>

