
<div class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <div class="card bg-light mb-3" style="max-width: 23rem">
      <div class="card-header"><strong>Taru info muutmine</strong></div>
      <div class="card-body">
        <div class="row">

          <div class="col-sm-8">
            <p>Taru id: {{ newHiveId }}</p>
          </div>
          <div class="col-sm-4">
            <button
              type="button"
              class="btn btn-light btn-outline-secondary"
              (click)="openVerifyDeleteHiveModal()">
              <img
                src="assets/img/trash.png"
                height="30px"
                width="30px"
              >
            </button>
          </div>
        </div>
        <div class="row">
          <label>Taru kirjeldus</label>
        </div>
        <div class="row">
          <input
            type="text"
            [(ngModel)]="newHiveDescription">
        </div>
        <div class="row">
          <label>Taru number</label>
        </div>
        <div class="row" *ngIf="warningHiveNumberExists">
          <span style="color: red"><strong>Koloonias korduv number</strong></span>
        </div>
        <div class="row">
          <input
            type="number"
            oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="3"
            [ngStyle]="warningHiveNumberExists ? {'border-color': 'red'} : ''"
            [(ngModel)]="newHiveNumber">
        </div>
        <div class="row">
          <label>Kuulub kolooniasse</label>
        </div>
        <div class="row">
          <select
            class="custom-select"
            [(ngModel)]="colonyIdToWhichHiveWillBelong">
            <option value="" disabled selected hidden>Vali koloonia...</option>
            <option
              *ngFor="let colony of colonies"
              [value]="colony.id"> {{ colony.name }}</option>
          </select>
        </div>
        <div class="card-footer row topMargin">
          <button
            type="button"
            class="btn btn-light btn-outline-danger"
            (click)="cancelAddingNewHive()">❌</button>

          <button
            type="button"
            class="btn btn-light btn-outline-success leftMargin"
            [disabled]="newHiveNumber === null
                        || newHiveNumber <= 0
                        || colonyIdToWhichHiveWillBelong === ''
                        || newHiveDescription === ''"
            (click)="updateHiveData(newHiveId, newHiveNumber, colonyIdToWhichHiveWillBelong, newHiveDescription)">
            ✔
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<jw-modal   id="delete-hive">
  <h4>Oled kustutamas sellist taru:</h4>
  <div style="border-color: dimgray; border-style: solid;">
    <p>Taru number: <strong>{{ newHiveNumber }}</strong></p>
    <p>Taru kirjeldus: <strong>{{ newHiveDescription ? newHiveDescription : '-' }}</strong></p>
    <p>Hetkel kuulub see taru kolooniasse: <strong>{{ colonyToWhichItBelongsNow.name }}</strong></p>
  </div>
  <p>Kustutades taru kustutakse kogu sellega seonduv info. </p>
  <p *ngIf="!warningMustIncludeVerifyText">
    Kui oled kindel, et soovid taru kustutada, siis kirjuta kontrollvälja "kustuta" ja kinnita soov nupule vajutusega.
  </p>
  <p *ngIf="warningMustIncludeVerifyText" style="color: red">
    Kui oled kindel, et soovid taru kustutada, siis
    <strong><u>kirjuta kontrollvälja "kustuta"</u></strong>
     ja kinnita soov nupule vajutusega.
  </p>
  <div class="row justify-content-center"><label>Kontrollväli</label></div>
  <div class="row justify-content-center">
    <input
      #verifyDeleteField
      [ngStyle]="warningMustIncludeVerifyText ? {'border-color': 'red'} : ''">
  </div>
  <div class="row justify-content-center" style="margin-top: 20px">
    <button
      class="btn btn-secondary"
      (click)="cancelDeleteHive()">Tühista</button>
    <button
      class="btn btn-danger"
      style="margin-left: 300px"
      (click)="onDeleteHive(verifyDeleteField.value, newHiveId)">Kustuta taru</button>
  </div>

</jw-modal>
