<div class="whiteBox" style="margin-top: 110px; margin-bottom: 45px">
  <button type="button" class="btn btn-light btn-outline-secondary minus">
    -
  </button>
  100%
  <button type="button" class="btn btn-light btn-outline-secondary plus"
          style="float: right">
    +
  </button>
</div>
<div class="whiteBox" style="margin-bottom: 20px">
  <button type="button" class="btn btn-light btn-outline-secondary minus"
          style="float: left">
    -
  </button>
  +33
  <button type="button" class="btn btn-light btn-outline-secondary plus"
          style="float: right">
    +
  </button>
  <br>
  <b>33</b>
  <br>
  <button type="button" class="btn btn-light btn-outline-secondary minus"
          style="float: left">
    -
  </button>
  -1
  <button type="button" class="btn btn-light btn-outline-secondary plus"
          style="float: right">
    +
  </button>
</div>
<h2 style="margin-left: 10px; margin-bottom: 30px">täna</h2>
<div class="whiteBox" style="margin-bottom: 0">
  <button type="button" class="btn btn-light btn-outline-secondary minus"
          style="float: left">
    -
  </button>
   22
  <button type="button" class="btn btn-light btn-outline-secondary plus"
          style="float: right">
    +
  </button>
</div>
