<div class="whiteBox">
  <button type="button" class="btn btn-light btn-outline-secondary">
    -
  </button>
  20%
  <button type="button" class="btn btn-light btn-outline-secondary">
    +
  </button>
</div>
<div class="whiteBox">
  <button type="button" class="btn btn-light btn-outline-secondary minus">
    -
  </button>
  +3
  <button type="button" class="btn btn-light btn-outline-secondary plus">
    +
  </button>
  <br>
  <b>17</b>
  <br>
  <button type="button" class="btn btn-light btn-outline-secondary">
    -
  </button>
  -1
  <button type="button" class="btn btn-light btn-outline-secondary">
    +
  </button>
</div>
<h2 style="margin-left: 10px">täna</h2>
<div class="whiteBox" style="margin-bottom: 0">
  <button type="button" class="btn btn-light btn-outline-secondary"
          style="margin-right: 19px">
    -
  </button>
   2
  <button type="button" class="btn btn-light btn-outline-secondary"
          style="margin-left: 19px">
    +
  </button>
</div>
