<div class="container">
  <div class="row">
    <div class="col-8.5 pictures-column">
      <div
        class="card bg-light"
        style="max-width: 16rem; height: 719px; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary change-mother-status-button">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">


          <img
            src="assets/img/teadmata.jpg" alt="ii">
          <h3 class="time-text">{{ momStatusSectionTimeText }}</h3>


          <div
            *ngIf="!currentlyChosenHive.momAttributes.controlFrameStartDate"
            class="second-image-block">
            <img
              src="assets/img/controlFrameNot.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="time-text">{{ controlFrameSectionTimeText }}</h3>
          </div>
          <div
            *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate"
            class="second-image-block">
            <img
              src="assets/img/controlFrameOk.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="time-text">{{ controlFrameSectionTimeText }}</h3>
          </div>


          <div
            *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate &&
                        !currentlyChosenHive.momAttributes.cocoonChosenDate"
            class="second-image-block">
            <img
              src="assets/img/cocoonNot.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="time-text">{{ cocoonSectionTimeText }}</h3>
          </div>
          <div
            *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate &&
                         currentlyChosenHive.momAttributes.cocoonChosenDate"
            class="second-image-block">
            <img
              src="assets/img/cocoonOk.png" alt="ii"
              style="margin-top: 7px">
            <h3 class="time-text">{{ cocoonSectionTimeText }}</h3>
          </div>


        </div>
      </div>
    </div>
    <div class="col-3.5">
      <button
        type="button"
        class="btn btn-light btn-outline-secondary first-from-top-button"
        (click)="onChangeMotherStatusButtonClick(momStatusEnum.MISSING)">
        <img
          src="assets/img/kadunudVertical.jpg"
          alt="ii"
          style="max-height: 100px; max-width: 55px;">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-secondary second-from-top-button"
        (click)="onOpenMomStatusSectionEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        *ngIf="!currentlyChosenHive.momAttributes.controlFrameStartDate"
        type="button"
        class="btn btn-light btn-outline-success third-from-top-button"
        (click)="saveControlFrameSectionValues(true)">
        <img
          src="assets/img/check.png"
          alt="ii"
          class="pencil">
      </button>
      <button
        *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate"
        type="button"
        class="btn btn-light btn-outline-secondary third-from-top-button"
        (click)="onOpenWhenControlFrameEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate &&
                !currentlyChosenHive.momAttributes.cocoonChosenDate"
        type="button"
        class="btn btn-light btn-outline-success fourth-from-top-button"
        (click)="saveCocoonSectionValues(true)">
        <img
          src="assets/img/check.png"
          alt="ii"
          class="pencil">
      </button>
      <button
        *ngIf="currentlyChosenHive.momAttributes.controlFrameStartDate &&
                currentlyChosenHive.momAttributes.cocoonChosenDate"
        type="button"
        class="btn btn-light btn-outline-secondary fourth-from-top-button"
        (click)="onOpenWhenCocoonEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-unknown-edit" style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Mis ajast on teadmata, kas ema on tarus olemas?</h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseMomStatusSectionEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/teadmata.jpg" alt="">
        <br>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="unknown"
                class="bigRadio"
                [checked]="radioBtnMomStatusSelection === actionTimeEnum.TODAY"
                (change)="radioBtnMomStatusSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="unknown"
                     class="bigRadio"
                     [checked]="radioBtnMomStatusSelection === actionTimeEnum.PAST_DATE"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnStatusPastDateInputValue"> päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="momStatusInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input type="radio" name="unknown"
                     class="bigRadio"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ momStatusInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h2>Ema staatus ei ole "teadmata kas on olemas"?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger"
                  style="color: red; height: 70px; width: 200px; margin-left: 100px"
                  (click)="onCloseMomStatusSectionEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveMotherStatusSectionValues()">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>

</jw-modal>


<jw-modal id="mother-control-frame-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal panin praegu peres oleva kontrollraami sisse?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenControlFrameEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <img src="assets/img/controlFrameOk.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="control_frame"
                class="bigRadio"
                [checked]="radioBtnControlFrameSelection === actionTimeEnum.TODAY"
                (change)="radioBtnControlFrameSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="control_frame"
                class="bigRadio"
                [checked]="radioBtnControlFrameSelection === actionTimeEnum.PAST_DATE"
                (change)="radioBtnControlFrameSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnControlFramePastDateInputValue">
              päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="controlFrameInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="control_frame"
                class="bigRadio"
                (change)="radioBtnControlFrameSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ controlFrameInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-6">
        <img src="assets/img/controlFrameNot.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="control_frame"
                class="bigRadio"
                [checked]="radioBtnControlFrameSelection === actionTimeEnum.NO_ACTION"
                (change)="radioBtnControlFrameSelected(actionTimeEnum.NO_ACTION)">
              Ei ole kontrollraami
            </h2>
          </label>
        </div>
        <div class="row twoButtons">
          <button
            class="btn btn-light btn-outline-danger"
            style="color: red; height: 70px; width: 200px;"
            (click)="onCloseWhenControlFrameEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveControlFrameSectionValues()">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="mother-cocoon-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Mis ajast on välja valitud praegune kontrollraami kupp?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenCocoonEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <img src="assets/img/cocoonOk.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="cocoon"
                class="bigRadio"
                [checked]="radioBtnCocoonSelection === actionTimeEnum.TODAY"
                (change)="radioBtnCocoonSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="cocoon"
                class="bigRadio"
                [checked]="radioBtnCocoonSelection === actionTimeEnum.PAST_DATE"
                (change)="radioBtnCocoonSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnCocoonPastDateInputValue">
              päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="cocoonInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="cocoon"
                class="bigRadio"
                (change)="radioBtnCocoonSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ cocoonInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-6">
        <img src="assets/img/cocoonNot.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="cocoon"
                class="bigRadio"
                [checked]="radioBtnCocoonSelection === actionTimeEnum.NO_ACTION"
                (change)="radioBtnCocoonSelected(actionTimeEnum.NO_ACTION)">
              Ei ole kontrollraami
            </h2>
          </label>
        </div>
        <div class="row twoButtons">
          <button
            class="btn btn-light btn-outline-danger"
            style="color: red; height: 70px; width: 200px;"
            (click)="onCloseWhenCocoonEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveCocoonSectionValues()">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>
