<div class="container">
  <div class="row">
    <div class="col-7.5">
      <div
        class="card bg-light mb-3"
        style="max-width: 16rem; height: 42.5rem; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">
          <img
            src="assets/img/teadmata.jpg" alt="ii">
          <p class="card-text">täna</p>
          <img
            src="assets/img/kontrollraamPuudu.png" alt="ii">
          <p class="card-text">täna</p>
          <img
            src="assets/img/kuppValitudNot.png" alt="ii">
          <p class="card-text">8 päeva tagasi</p>
        </div>
      </div>
    </div>
    <div class="col-4.5">
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        style="height: 115px;width: 80px; margin: 0px; margin-left: 20px"
        (click)="onChangeMotherStatusButtonClick(motherStatusEnum.MISSING)">
        <img
          src="assets/img/kadunudVertical.jpg"
          alt="ii"
          style="height: 100px">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-success"
        (click)="onOpenMotherUnknownEditButton()">
        <img src="assets/img/muudaNupp.png"
             alt="ii"
             class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenControlframeEggsEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii" class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenCocoonEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-unknown-edit"  style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
      <div class="card-header">
        <div class="row up-bar">
          <h1>Mis ajast on teadmata, kas ema on tarus olemas?
          </h1>
          <button
            class="btn btn-danger closing"
            (click)="onClose('mother-unknown-edit')">
            <img
              src="assets/img/sulge.jpeg"
              class="x">
          </button>
        </div>
      </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/teadmata.jpg" alt="" style="width: 160px">
        <br>
        <div class="radio">
          <label>
            <h3>
              <input
                type="radio"
                name="unknown"
                style="width: 25px; height: 25px">
              Täna
            </h3>
          </label>
        </div>
        <div class="radio">
          <label>
            <h3>
              <input type="radio" name="unknown"  style="width: 25px; height: 25px">&nbsp;<input type="number" size="3"> päeva tagasi</h3>
          </label>
        </div>
        <div class="radio">
          <label>
            <h3>
              <input type="radio" name="unknown"  style="width: 25px; height: 25px">&nbsp; <img src="assets/img/tagasi.png" alt="" style="width: 22px; height: 22px"> (7 päeva tagasi)</h3></label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h3>Ema staatus ei ole "teadmata"?</h3>
        </div>
        <div class="row">
          <h3>Vali teine ema staatus:&nbsp;</h3>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-light btn-outline-danger" style="color: red; height: 70px; width: 200px; margin-left: 500px"><h2>Loobun</h2></button>
      <button class="btn btn-light btn-outline-success" style="color: green; height: 70px; width: 200px; margin-left: 200px"><h2>Salvestan</h2></button>
    </div>


  </div>

</jw-modal>


<jw-modal id="mother-controlframe-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal panin praegu peres oleva kontrollraami sisse?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-controlframe-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <strong>Kontrollraam sees</strong>
    <div class="radio">
      <label><input type="radio" name="controlframe">Täna</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="controlframe"><input type="number">päeva tagasi
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="controlframe">(7 päeva tagasi)</label>
    </div>
    <strong>Kontrollraam puudub</strong>
    <div class="radio">
      <label><input type="radio" name="controlframe">Ei ole kontrollraami</label>
    </div>
    <button class="btn btn-warning">Loobun</button>
    <button class="btn btn-success">Salvestan</button>
  </div>
</jw-modal>

<jw-modal id="mother-cocoon-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Mis ajast on välja valitud praegune kontrollraami kupp?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onClose('mother-cocoon-edit')">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <strong>Kupp valitud</strong>
    <div class="radio">
      <label><input type="radio" name="cocoon">Täna</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="cocoon"><input type="number">päeva tagasi
      </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="cocoon">(7 päeva tagasi)</label>
    </div>
    <strong>Kupp pole valitud</strong>
    <div class="radio">
      <label><input type="radio" name="cocoon">Ei ole kuppu valitud</label>
    </div>
    <button class="btn btn-warning">Loobun</button>
    <button class="btn btn-success">Salvestan</button>
  </div>
</jw-modal>
