/*.spinner-container {*/
/*  position: absolute;*/
/*  left: 10%;*/
/*  top: 0;*/
/*  width: 80%;*/
/*  height: 76px;*/
/*  background-image: linear-gradient(to right, gray, white, gray);*/
/*}*/

.spinner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 76px;
  background-color: white;
  opacity: 0.8;
}

.for-fullscreen-modal-height {
  height: 103px;
}


.for-small-modal-height {
  height: 143px;
}
