<app-work-header
  [colonies]="colonies"
  (currentlySelectedHive)="onHiveChange($event)"></app-work-header>
  <div class="row" style="margin-right: 0; margin-left: 0">
    <div class="col-8">
    </div>
    <!--<div class="col-4">-->
      <!--<app-mother></app-mother-main>-->
    <!--</div>-->
    <!--<div class="col-4" >-->
      <!--<app-mother></app-mother-main>-->
    <!--</div>-->
    <div class="col-4" style="margin-right: 0">
      <app-mother
        [currentlyChosenHive]="currentlyChosenHive"
        *ngIf="currentlyChosenHive"></app-mother>
    </div>
  </div>
