

.big-text {
  font-size: 2rem;
}

.planning-header {
  font-weight: 500;
  margin-right: 60px;
}

button.closing {
  width: fit-content;
  height: fit-content;
  padding: 2px 2px 2px 2px;
  min-width: 0;
  min-height: 0;
}

img {
  height: 40px;
}

td.normal {
  background-color: #92e69f;
}

td.warning {
  background-color: #fffa87;
}

td.danger {
  background-color: red;
  color: white;
}

td.plan-without-deadline {
  background-color: #dcdcdc;
}

button {
  min-width: 80px;
  width: 100%;
  min-height: 62px;
}

button.navigation {
  font-size: 1.5em;
}

th.with-button {
  padding: 5px;
}

td.with-button {
  padding: 5px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td.number {
  font-size: 1.25em;
}
