<ng-container *ngIf="activePlanningElement">
  <ng-container *ngIf="isActiveResolveStateUnresolved; else resolvedView">
    <div class="row pb-4">
      <ng-container *ngIf="!activePlanningElement.id; else changePlanningHeader">
        <h2>Uus planeering</h2>
      </ng-container>
    </div>
    <div class="row">
      <div class="col pb-4">
        <div class="row">
          <label class="d-flex">
            <input
              type="radio"
              class="bigRadio"
              name="input-type"
              [checked]="activePlanningElement.dropDown === true"
              (change)="radioBtnActivePlanInputTypeChange(true)"
              [disabled]="editControlsDisabled">
            <span class="ml-2 modal-inside-text">Rippmenüüst</span>
          </label>
        </div>
        <div class="row pt-2">
          <label class="d-flex">
            <input
              type="radio"
              class="bigRadio"
              name="input-type"
              [checked]="activePlanningElement.dropDown === false"
              (change)="radioBtnActivePlanInputTypeChange(false)"
              [disabled]="editControlsDisabled">
            <span class="ml-2 modal-inside-text">Vabatekst</span>
          </label>
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary modal-inside-text mt-n2 btn-block"
          (click)="callDropdownMgmt.emit()"
          [disabled]="allControlsDisabled">Muudan rippmenüüd</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div
          class="card ml-n3">
          <div *ngIf="!activePlanningElement.withoutDeadline"
            class="card-header modal-inside-text
            justify-content-between d-flex align-items-center pt-1 pb-1 pl-3 pr-3">
            <div class="container">
              <div class="row justify-content-center mb-4">
                <span class="ml-1 mr-3">Planeeringu tähtaeg päevades:</span>
                <input
                  type="number"
                  class="form-control adjust-width modal-inside-text"
                  oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  [ngModel]="activePlanningElement.daysToDeadline"
                  (ngModelChange)="daysToActivePlanDeadline($event)"
                  [disabled]="editControlsDisabled"
                  maxlength="3">
              </div>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-light btn-outline-secondary deadline-button mr-4"
                  (click)="addDaysToActivePlanDeadline(-1)"
                  [disabled]="editControlsDisabled"> - </button>
                <input
                  [ngModel]="activePlanningElement.daysToDeadline"
                  (ngModelChange)="daysToActivePlanDeadline($event)"
                  type="range"
                  min="0"
                  max="21"
                  class="slider"
                  id="formControlRange"
                  [disabled]="editControlsDisabled">
                <button
                  class="btn btn-light btn-outline-secondary deadline-button ml-4"
                  (click)="addDaysToActivePlanDeadline(1)"
                  [disabled]="editControlsDisabled"> + </button>
              </div>
            </div>
          </div>
          <div
            class="row ml-0 edit-area-height">
            <div class="d-flex input-area-width justify-content-around align-items-center flex-column">
              <ng-container *ngIf="activePlanningElement.dropDown === false; else dropdownInput">
              <textarea
                class="modal-inside-text planning-element-text-area h-100"
                [(ngModel)]="activePlanningElement.text"
                (ngModelChange)="onInputChange()"
                [disabled]="editControlsDisabled"></textarea>
              </ng-container>
            </div>
            <div class="col d-flex flex-column justify-content-around">
              <div class="row justify-content-center modal-inside-text mb-4 mt-5">
                <input
                  class="my-checkbox"
                  type="checkbox"
                  id="withoutDeadline"
                  [(ngModel)]="activePlanningElement.withoutDeadline"
                  (change)="onInputChange(true)"
                  [disabled]="editControlsDisabled">
                <label class="form-check-label ml-2" for="withoutDeadline">
                  Tähtajatu
                </label>
              </div>
              <div class="row justify-content-center">
                <ng-container *ngIf="!activePlanningElement.id; else changePlanningFinishEditing">
                  <button
                    class="btn btn-success modal-inside-text"
                    (click)="onAddNewPlan()"
                    [disabled]="editControlsDisabled">
                    Lisan planeeringu
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #resolvedView>
  <div class="d-flex h-100 justify-content-center align-items-end pb-5">
    <button
      class="btn btn-success modal-inside-text mb-5"
      *ngIf="activePlanningElement.id != null"
      (click)="onUnResolveElement()"
      [disabled]="editControlsDisabled">
      Märgin kui "Tegemata"
    </button>
  </div>
</ng-template>

<ng-template #changePlanningHeader>
  <h2>Muudan planeeringut</h2>
</ng-template>

<ng-template #changePlanningFinishEditing>
  <button
    class="btn btn-danger modal-inside-text"
    (click)="planningService.newPlanElementSelected.next(null)"
    [disabled]="allControlsDisabled">
    Lõpetan muutmise
  </button>
</ng-template>


<ng-template #dropdownInput>

  <span
    *ngIf="!planningService.planningDropDown"
    class="mb-n5 ml-4 text-center">Rippmenüüs pole ühtegi elementi.
      Elementide lisamiseks kasutage funktsionaalsust "Muudan rippmenüüd"</span>

  <select
    name="new-plan"
    class="custom-select planning-element-text-area ml-4 mr-n4"
    [(ngModel)]="activePlanningElement.dropDownElementId"
    (ngModelChange)="setStandardPlanDeadline($event)"
    [disabled]="!planningService.planningDropDown || editControlsDisabled">
    <optgroup>
      <ng-container *ngIf="planningService.planningDropDown">
        <option
          *ngFor="let dropdownElement of planningService.planningDropDown"
          [value]="dropdownElement.id">
          {{ dropdownElement.text }}
        </option>
      </ng-container>
    </optgroup>
  </select>

</ng-template>
