<div class="card bg-light" style="margin-top: 5px">
  <div class="container" style="padding: 5px">
    <div class="row">
      <div [ngClass]="getColWidth('beforePrevious')">
        <app-size-view
          *ngIf="blockToEdit != 'beforePrevious'"
          [blockName]="'beforePrevious'"
          [sizeLogs]="sizeLogs"
          [isCountingDownToUpdateData]="isCountingDown"
          (editMEEEE)="chooseNewBlockToEdit($event)"></app-size-view>
        <app-size-edit
          *ngIf="blockToEdit === 'beforePrevious'"
          [blockName]="'beforePrevious'"
          [sizeLogs]="sizeLogs"
          [idOfCurrentHive]="currentlyChosenHive.id"
          (isCountingDownToUpdateData)="notifyIfIsCountingDownToUpdateData($event)"></app-size-edit>
      </div>
      <div [ngClass]="getColWidth('previous')">
        <app-size-view
          *ngIf="blockToEdit != 'previous'"
          [blockName]="'previous'"
          [sizeLogs]="sizeLogs"
          [isCountingDownToUpdateData]="isCountingDown"
          (editMEEEE)="chooseNewBlockToEdit($event)"></app-size-view>
        <app-size-edit
          *ngIf="blockToEdit === 'previous'"
          [blockName]="'previous'"
          [sizeLogs]="sizeLogs"
          [idOfCurrentHive]="currentlyChosenHive.id"
          (isCountingDownToUpdateData)="notifyIfIsCountingDownToUpdateData($event)"></app-size-edit>
      </div>
      <div class="col-2">
        <div class="whiteBox" style="margin-bottom: 27px">
          Mag
        </div>
        <img src="assets/img/frame.jpg" alt="">
        <div class="whiteBox" style="margin-top: 56px">
          kupp
        </div>
      </div>
      <div [ngClass]="getColWidth('current')">
        <app-size-view
          *ngIf="blockToEdit != 'current'"
          [blockName]="'current'"
          [sizeLogs]="sizeLogs"
          [isCountingDownToUpdateData]="isCountingDown"
          (editMEEEE)="chooseNewBlockToEdit($event)"></app-size-view>
        <app-size-edit
          *ngIf="blockToEdit === 'current'"
          [blockName]="'current'"
          [sizeLogs]="sizeLogs"
          [idOfCurrentHive]="currentlyChosenHive.id"
          (isCountingDownToUpdateData)="notifyIfIsCountingDownToUpdateData($event)"></app-size-edit>
      </div>
    </div>
  </div>
</div>
