<div class="card bg-light" style="margin-top: 113px">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-size-view></app-size-view>
      </div>
      <div class="col-3">
        <app-size-view></app-size-view>
      </div>
      <div class="col-2">
        <div class="whiteBox" style="margin-top: 130px; margin-bottom: 35px">
          Mag
        </div>
        <img src="assets/img/frame.jpg" alt="">
        <div class="whiteBox" style="margin-top: 100px">
          kupp
        </div>
      </div>
      <div class="col-4">
        <app-size-edit></app-size-edit>
      </div>
    </div>
  </div>
</div>
