<div class="row">
  <div class="col-5"></div>
  <div class="col-5">
    <div class="card bg-light mb-3" style="max-width: 23rem; height: 30rem">
      <div class="card-header">
        <button type="button" class="btn btn-light btn-outline-primary" style="width: 200px"><img
          src="assets/img/muuda.png" alt="ii"></button>
      </div>
      <button type="button" class="btn btn-light btn-outline-success" style="width: 200px; height: 90px"><img
        src="assets/img/emaOkRohe.png" alt="ii"></button>
      <div class="card-body">
        <p class="card-text">5 päeva tagasi</p>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 200px"><img
          src="assets/img/munebOK.png" alt="ii"></button>
        <p class="card-text">täna</p>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 200px"><img
          src="assets/img/muuda.png" alt="ii"></button>
        <div class="card-footer">
          <button type="button" class="btn btn-light btn-outline-primary" style="margin: 20px">
            <img src="assets/img/koorunud.png" alt="ii"><p>mai 2018</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <br><br><br><br>
    <button type="button" class="btn btn-light btn-outline-success" style="width: 100px; margin: 20px" ><img
      src="assets/img/check.png" alt="ii"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-danger" style="width: 100px; margin: 20px"><img
      src="assets/img/tagasi.png" alt="ii"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-danger" style="width: 100px; margin: 20px"><img
      src="assets/img/tagasi.png" alt="ii"></button>
    <br>
    <button type="button" class="btn btn-light btn-outline-primary" style="width: 100px; margin: 20px"><img
      src="assets/img/muudaNupp.png" alt="ii"></button>
  </div>
</div>


