<div class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <div class="card bg-light mb-3" style="max-width: 23rem; height: 20rem">
      <div class="card-header">
        <button type="button" class="btn btn-light btn-outline-primary" style="width: 200px"><img src="/src/assets/img/muuda.png" alt="ii"></button>
      </div>
      <div class="card-body">
        <p class="card-text">5 päeva tagasi</p>

        <br><br><br>
        <p class="card-text">täna</p>
        <div class="card-footer">
          <button type="button" class="btn btn-light btn-outline-success" (click)="addNewColony(newColonyName.value)" style="margin: 20px">
            ✔
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


