<div class="row">
  <div class="col-12">
    <div class="card bg-light mb-3" style="width: 65rem; height: 32rem">
      <div class="card-header">
        <div class="row">
          <h5>Ema hetkeolukord</h5>
          <button type="button" class="btn btn-light btn-outline-danger" style="width: 40px; margin: 20px;">
            <img src="assets/img/sulge.jpeg" alt=""></button>
        </div>

      </div>
      <div class="card-body">
        <button type="button" class="btn btn-light btn-outline-danger" style="width: 150px; margin: 20px"><img
          src="assets/img/kadunudKitsam.jpg" alt="ii"></button>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 150px; margin: 20px"><img
          src="assets/img/puuriga_tarru.png" alt="ii"></button>
        <button type="button" class="btn btn-light btn-outline-success" style="width: 150px; margin: 20px"><img
          src="assets/img/kadunudKitsam.jpg" alt="ii"></button>
        <br>
        <button type="button" class="btn btn-light btn-outline-danger" style="width: 200px"><img
          src="assets/img/teadmata.jpg" alt="ii"></button>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Arrowright.svg/2000px-Arrowright.svg.png" alt="ii" style="height: 90px">
        <button type="button" class="btn btn-light btn-outline-success" style="width: 200px"><img
          src="assets/img/emaOkRohe.png" alt="ii"></button>
        <div class="card-footer">
          <div class="row">
            <button type="button" class="btn btn-light btn-outline-danger" style="margin: 20px; width: 200px">
              <img
                src="assets/img/v22rema.png" alt="ii">
            </button>
            <button type="button" class="btn btn-light btn-outline-success" style="margin: 20px; width: 200px">
              <img
                src="assets/img/puurist_v2lja.png" alt="ii">
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


