<body>
<nav class="navbar navbar-default" style="margin: 0 !important;">
  <div class="container-fluid">
      <div class="col-sm-1">
        <button type="button" class="btn btn-light btn-outline-secondary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Ic_settings_48px.svg/2000px-Ic_settings_48px.svg.png"></button>
      </div>
      <div class="col-sm-6">
        <form #f="ngForm">
          <select
            name="colony"
            class="custom-select"
            size="1"
            [ngModel]="defaultColony"
            (change)="onChange($event)">
            <option value="" disabled selected hidden>Vali koloonia...</option>
            <option
              *ngFor="let colony of colonies"
              [value]="colony.id"> {{ colony.name }}</option>
          </select>
        </form>
      </div>
      <div class="col-sm-1.5">
        <button
          type="button"
          class="btn btn-light btn-outline-secondary"
          (click)="onEditColonyButtonClick()"
          [disabled]="colonySelectionForm.value.colony === ''">✎</button>
      </div>
      <div class="col-sm-3.5">
        <button type="button" class="btn btn-light btn-outline-secondary" (click)="onNewColonyButtonClick()">✚ koloonia</button>
      </div>
  </div>
</nav>
</body>

