<div class="container">
  <div class="row">
    <div class="col-8.5 pictures-column">
      <div
        class="card bg-light"
        style="max-width: 16rem; height: 719px; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary change-mother-status-button">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">


          <img
            src="assets/img/v22rema.png" alt="ii"
            style="max-width: 180px;">
          <h3 class="time-text">{{ momStatusSectionTimeText }}</h3>


        </div>
      </div>
    </div>
    <div class="col-3.5">
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onOpenMomStatusSectionEditButton()"
        style="margin-top: 140px;">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-freak-edit" style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Mis ajast on tarus väärema?</h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseMomStatusSectionEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/v22rema.png" alt="">
        <br>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="freak"
                class="bigRadio"
                [checked]="radioBtnMomStatusSelection === actionTimeEnum.TODAY"
                (change)="radioBtnMomStatusSelected(actionTimeEnum.TODAY)">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="freak"
                     class="bigRadio"
                     [checked]="radioBtnMomStatusSelection === actionTimeEnum.PAST_DATE"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.PAST_DATE)">
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                size="3"
                class="num"
                [(ngModel)]="radioBtnStatusPastDateInputValue"> päeva tagasi
            </h2>
          </label>
        </div>
        <div
          *ngIf="momStatusInitialValueText"
          class="radio option">
          <label>
            <h2>
              <input type="radio" name="freak"
                     class="bigRadio"
                     (change)="radioBtnMomStatusSelected(actionTimeEnum.INITIAL_DATE)">
              &nbsp;
              <img src="assets/img/tagasi.png" alt="" style="height: 45px">
              ({{ momStatusInitialValueText }})
            </h2>
          </label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h2>Oled kindel, et tarus pole enam väärema?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger"
                  style="color: red; height: 70px; width: 200px; margin-left: 100px"
                  (click)="onCloseMomStatusSectionEditButton()">
            <h2>Loobun</h2>
          </button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"
                  (click)="saveMotherStatusSectionValues()">
            <h2>Salvestan</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="mother-freak-log-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Vääremast lahtisaamise logi</h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseFreakMotherLogEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <div style="overflow-y:auto;
            overflow-x:hidden;
            border-color: dimgray;
            border-style: solid;
            height:350px">
      <div class="row"
           style="background-color: #f0f0f0; border-style: solid; border-color: white;"
           *ngFor="let logEntry of currentlyChosenHive.momAttributes.freakLog">
        <div class="col-sm-10">
          <h3>{{ logEntry.text }}</h3>
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            class="btn btn-light btn-outline-secondary"
            (click)="onOpenFreakLogEntryButton(logEntry)">
            <img
              src="assets/img/muudaNupp.png"
              class="pencil">
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <textarea
          class="form-control"
          rows="3"
          style="font-size: 2em"
          [(ngModel)]="textareaValue"></textarea>
      </div>
      <div class="col-sm-4">
        <button
          class="btn btn-light btn-outline-success"
          style="color: green; height: 70px; width: 300px; margin-left: 20px"
          [disabled]="textareaValue === ''"
          (click)="saveNewLogEntry()">
          <h2>Lisan kirje</h2>
        </button>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="mother-freak-log-entry-edit">
  <div class="card bg-light" *ngIf="logEntryThatIsBeingEdited">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Logikirje muutmine</h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseFreakLogEntryButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <div style="overflow-y:auto;
            overflow-x:hidden;
            border-color: dimgray;
            border-style: solid;
            height:350px">
      <h2>Esialgne tekst:</h2>
      <br>
      <div class="row"
           style="background-color: #f0f0f0; border-style: solid; border-color: white;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
          <h3>{{ textareaOnEntryEditValue }}</h3>
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            class="btn btn-light btn-outline-secondary"
            (click)="deleteLogEntry(logEntryThatIsBeingEdited)">
            <img
              src="assets/img/trash.png"
              class="pencil"
            >
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <textarea
          class="form-control"
          rows="3"
          style="font-size: 2em"
          [(ngModel)]="textareaOnEntryEditValue"></textarea>
      </div>
      <div class="col-sm-4">
        <button
          class="btn btn-light btn-outline-success"
          style="color: green; height: 93px; width: 300px; margin-left: 20px"
          [disabled]="logEntryThatIsBeingEdited.text === textareaOnEntryEditValue"
          (click)="updateLogEntry(logEntryThatIsBeingEdited, textareaOnEntryEditValue)">
          <h2>Salvestan muudatused</h2>
        </button>
        <button
          class="btn btn-light btn-outline-danger"
          style="color: red; height: 93px; width: 300px; margin-left: 20px"
          (click)="onCloseFreakLogEntryButton()">
          <h2>Tühistan muudatused</h2>
        </button>
      </div>
    </div>
  </div>
</jw-modal>

