<div class="container">
  <div class="row">
    <div class="col-7.5">
      <div
        class="card bg-light mb-3"
        style="max-width: 16rem; height: 42.5rem; margin-left:auto;margin-right:auto;text-align:center">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick(null)">
          </button>
        </div>

        <div class="card-body" style="background-color: white">
          <img
            src="assets/img/n2htud.png" alt="ii">
          <h3 class="word">täna</h3>
          <img
            src="assets/img/munebOK.png" alt="ii"
          style="margin-top: 7px">
          <h3 class="word">täna</h3>
          <img
            src="assets/img/m2rgistatudYes.png" alt="ii" style="margin-top: 15px">
          <h3 class="word">mai 2018</h3>
          <p style="margin-top: -23px;font-size: 31px">hele</p>
          <img src="assets/img/synnip2evOk.png" alt="ii"
          style="margin-top: -28px">
          <h3 class="word" style="margin-bottom: -15px !important;">mai 2018</h3>
        </div>
      </div>
    </div>
    <div class="col-4.5">
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        style="height: 115px;width: 80px; margin: 0px; margin-left: 20px"
        (click)="onChangeMotherStatusButtonClick(momStatusEnum.UNKNOWN)">
        <img
          src="assets/img/teadmataVertical.jpg"
          alt="ii"
          style="height: 100px">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-success"
        (click)="onOpenSeenMotherEditButton()">
        <img src="assets/img/muudaNupp.png"
             alt="ii"
             class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenWhenSeenMotherLayingEggsEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii" class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        (click)="onOpenWhenMotherMarkedEditButton()">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
      <br>
      <button
        type="button"
        class="btn btn-light btn-outline-primary"
        (click)="onOpenWhenMotherBirthdayEditButton()"
      style="margin-bottom: 0 !important;">
        <img
          src="assets/img/muudaNupp.png"
          alt="ii"
          class="pencil">
      </button>
    </div>
  </div>
</div>

<jw-modal id="mother-seen-edit" style="max-width: 50rem; height: 45rem">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal seda ema viimati nägid?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseSeenMotherEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/n2htud.png" alt="">
        <br>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="seen"
                class="bigRadio">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="seen"
                     class="bigRadio">&nbsp;&nbsp;&nbsp;
              <input type="number" size="3" class="num"> päeva tagasi
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="seen"
                     class="bigRadio">&nbsp; <img src="assets/img/tagasi.png" alt="" style="height: 45px"> (7 päeva
              tagasi)
            </h2>
          </label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h2>Ema staatus ei ole "nähtud"?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger"
                  style="color: red; height: 70px; width: 200px; margin-left: 100px"><h2>Loobun</h2></button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"><h2>Salvestan</h2></button>
        </div>
      </div>
    </div>
  </div>

</jw-modal>


<jw-modal id="mother-laying-eggs-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal nägid viimati, et see ema munes?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenSeenMotherLayingEggsEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <img src="assets/img/munebOK.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="seen"
                class="bigRadio">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="seen"
                     class="bigRadio">&nbsp;&nbsp;&nbsp;
              <input type="number" size="3" class="num"> päeva tagasi
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="seen"
                     class="bigRadio">&nbsp; <img src="assets/img/tagasi.png" alt="" style="height: 45px"> (7 päeva
              tagasi)
            </h2>
          </label>
        </div>
      </div>
      <div class="col-6">
        <img src="assets/img/munebNot.png" alt="">
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="seen"
                class="bigRadio">
              Ei ole näinud, et muneks
            </h2>
          </label>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger" style="color: red; height: 70px; width: 200px;"><h2>
            Loobun</h2></button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"><h2>Salvestan</h2></button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="mother-marked-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Kui korralikult on ema märgistatud ja millal?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenMotherMarkedEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="col">
      <div class="row">
        <div class="col-4">
          <img src="assets/img/m2rgistatudYes.png" alt="">
          <div class="radio option2">
            <label>
              <h2>
                <input
                  type="radio"
                  name="quality"
                  class="bigRadio">
                Korralik märgistus
              </h2>
            </label>
          </div>
        </div>
        <div class="col-4">
          <img src="assets/img/m2rgistatudAttention.png" alt="">
          <div class="radio option2" style="font-size: 33px">
            <label>
              <h2>
                <input
                  type="radio"
                  name="quality"
                  class="bigRadio">
                Märgistusega on probleeme. <br>

              </h2>
            </label>
            Märksõna:<input type="number" size="3" class="description" style="margin-left: 5px">
          </div>
        </div>
        <div class="col-4">
          <img src="assets/img/m2rgistatudNo.png" alt="">
          <div class="radio option2">
            <label>
              <h2>
                <input
                  type="radio"
                  name="quality"
                  class="bigRadio">
                Ei ole märgistatud
              </h2>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="radio option2">
            <label>
              <h2>
                <input
                  type="radio"
                  name="when_marked"
                  class="bigRadio">
                Täna
              </h2>
            </label>
          </div>
          <div style="margin-top: 37px">
            <div>
              <label class="option-row">
                <input type="radio"
                       name="when_marked"
                       class="bigRadio">
                <select
                  name="month_marked"
                  class="custom-select"
                  size="1">
                  <option value="">Jaanuar</option>
                  <option value="">Veebruar</option>
                  <option value="">Märts</option>
                </select>
                <select
                  name="year_marked"
                  class="custom-select"
                  size="1">
                  <option value="">2017</option>
                  <option value="">2018</option>
                </select>
              </label>
            </div>
          </div>
          <div class="radio option">
            <label>
              <h2>
                <input type="radio" name="when_marked"
                       class="bigRadio">&nbsp; <img src="assets/img/tagasi.png" alt="" style="height: 45px"> (7 päeva
                tagasi)
              </h2>
            </label>
          </div>
        </div>
        <div class="col-8">
          <div class="row" style="margin-top: 200px">
            <button class="btn btn-light btn-outline-danger" style="color: red; height: 70px; width: 200px;"><h2>
              Loobun</h2></button>
            <button class="btn btn-light btn-outline-success"
                    style="color: green; height: 70px; width: 200px; margin-left: 200px"><h2>Salvestan</h2></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</jw-modal>


<jw-modal id="mother-birthday-edit">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row up-bar">
        <h1>Millal on see ema koorunud?
        </h1>
        <button
          class="btn btn-danger closing"
          (click)="onCloseWhenMotherBirthdayEditButton()">
          <img
            src="assets/img/sulge.jpeg"
            class="x">
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="assets/img/synnip2evOk.png" alt="">
        <br>
        <div class="radio option">
          <label>
            <h2>
              <input
                type="radio"
                name="year_marked"
                class="bigRadio">
              Täna
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="year_marked"
                     class="bigRadio">&nbsp;&nbsp;&nbsp;
              <input type="number" size="3" class="num"> päeva tagasi
            </h2>
          </label>
        </div>
        <div class="radio option">
          <label>
            <h2>
              <input type="radio" name="year_marked"
                     class="bigRadio">&nbsp; <img src="assets/img/tagasi.png" alt="" style="height: 45px"> (7 päeva
              tagasi)
            </h2>
          </label>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <h2>Selles tarus ei ole veel koorunud ema?</h2>
        </div>
        <div class="row option">
          <h2>Vali teine ema staatus:&nbsp;&nbsp;&nbsp;</h2>
          <button
            type="button"
            class="btn btn-light btn-outline-primary"
            style="width: 200px; height: 80px; margin: 0px">
            <img
              src="assets/img/muuda.png"
              alt="ii"
              style="height: 65px"
              (click)="onChangeMotherStatusButtonClick()">
          </button>
        </div>
        <div class="row twoButtons">
          <button class="btn btn-light btn-outline-danger"
                  style="color: red; height: 70px; width: 200px; margin-left: 100px"><h2>Loobun</h2></button>
          <button class="btn btn-light btn-outline-success"
                  style="color: green; height: 70px; width: 200px; margin-left: 100px"><h2>Salvestan</h2></button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>
