.planning-element {
  font-size: 1.5rem;
  margin-bottom: 3px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  display: table;
  min-height: 86px;
}

.deadline-area {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  padding: .375rem .5rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 120px;
}

.unresolved-button {
  background-color: #f8f9fa;
  border-color: #218838;
  box-shadow: 0 0 4px 4px #218838;
  padding: 0px;
  z-index: 1;
  position: relative;
}

.normal {
  background-color: #92e69f;
}

.warning {
  background-color: #fffa87;
}

.danger {
  background-color: red;
  color: white;
}

.without-deadline {
  background-color: #dcdcdc;
}

.text-area {
  vertical-align: middle;
  display: table-cell;
}

.not-button-area-active-color {
  background-color: #dcdcdc;
  z-index: 0;
  position: relative;
}

.active-container {
  box-shadow: 0 0 4px 4px gray;
}

.disabled-look {
  opacity: 0.5;
}
