<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-1">
      <button type="button" class="btn btn-light btn-outline-secondary">❃</button>
    </div>
    <div class="col-6">
      <select name="colonylist" class="custom-select" size="1">
        <option value="home">Kodu koloonia</option>
        <option value="forest">Metsakoloonia</option>
      </select>
    </div>
    <div class="col-1.5">
      <button type="button" class="btn btn-light btn-outline-secondary">✎</button>
    </div>
    <div class="col-3.5">
      <button type="button" class="btn btn-light btn-outline-secondary">✚ koloonia</button>
    </div>
  </div>
</nav>
</body>

