<div class="card bg-light" style="height: 330px">
  <div class="container">

    <!--<div class="row">-->
      <!--<span style="margin-left: 230px;margin-right: 30px;">-->
        <!--Eelmine planeering:-->
      <!--</span>-->
      <!--<span style="background-color: orange; color: white">-->
          <!--&nbsp;3 päeva&nbsp;-->
      <!--</span>-->
      <!--tähtajast möödas-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->

      <!--<span style="margin-left: 60px;margin-right: 30px;">-->
        <!--Mitme päeva pärast uuesti vaadata?-->
      <!--</span>-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-light btn-outline-secondary"> -7 </button>-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-light btn-outline-secondary"> - </button>-->
      <!--<div-->
        <!--class="whiteBox"-->
        <!--align="center">-->
        <!--<b>4</b>-->
      <!--</div>-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-light btn-outline-secondary"> + </button>-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-light btn-outline-secondary"> +7 </button>-->
    <!--</div>-->

  </div>
</div>
