<body>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p></p>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-light btn-outline-secondary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Trash_font_awesome.svg/2000px-Trash_font_awesome.svg.png"></button>
    </div>
  </div>
</div>
<br>
<br>
<p style="margin: 14px;">uue koloonia nimi</p>
<input style="margin: 14px;">
<br>
<br>
<br>
<div class="container-fluid">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-light btn-outline-secondary">✔</button>
  </div>
</div>
<br>
<br>
</body>
