<nav class="navbar navbar-default grayBackground" style="margin: 0 !important; background-color: gray">
  <div class="container-fluid">
    <div class="col-sm-2">
      <a routerLink="/work">
        <button
          type="button"
          class="btn btn-light btn-outline-secondary">
          <img
            src="assets/img/mesitaru.png"
            height="30px"
            width="30px"
          >
        </button>
      </a>
      <!--TODO! Close application button-->
      <!--<button-->
        <!--type="button"-->
        <!--class="btn btn-light"-->
        <!--style="margin-left: 60px"-->
        <!--(click)="closeApp()">Exit</button>-->
    </div>
    <div class="col-sm-6">
      <select
        name="colony"
        class="custom-select"
        (change)="onChange()"
        [(ngModel)]="currentlySelectedColonyId"
        #selectField>
        <optgroup>
          <option value="" disabled selected hidden>Vali koloonia...</option>
          <option
            *ngFor="let colony of colonies"
            [value]="colony.id"> {{ colony.name }}</option>
        </optgroup>
      </select>
    </div>
    <div class="col-sm-1">
      <button
        type="button"
        class="btn btn-light btn-outline-secondary newCol"
        (click)="onEditColonyButtonClick()"
        [disabled]="selectField.value === ''">✎</button>
    </div>
    <div class="col-sm-3.5">
      <button
        type="button"
        class="btn btn-light btn-outline-secondary"
        (click)="onNewColonyButtonClick()"
        id="newColonyButton"
        style="width: 150px">✚ koloonia</button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <br>
  <div [ngSwitch]="loadedComponent">
    <app-new-colony *ngSwitchCase="'newColony'"></app-new-colony>
    <app-colony-details *ngSwitchCase="'colonyDetails'" [currentlySelectedColonyId]="currentlySelectedColonyId"></app-colony-details>
  </div>
</div>



